{% extends 'base.html.twig' %}

{% block body %}
  <div class="row">
    <div class="large-12 columns main">
      <h3 class="titre-light">Recherche</h3>
      <div class="row">
        <div class="recherche">
          <div class="large-12 columns large-centered">
            <input id="algolia" class="input" type="search" placeholder="Rechercher">
            <div class="btn-search">Recherche</div>
          </div>
        </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
