{% extends 'base.html.twig' %}

{% block body %}
  <div class="title">
    <h1>Recherche</h1>
    <input id="algolia" class="input" type="search" placeholder="Rechercher">
  </div>
  <div class="results">
    <div class="filter-container">
      <h4>Filtrer par :</h4>
    </div>
    <div class="result-container"></div>
  </div>
{% endblock %}
