{% extends 'base.html.twig' %}

{% block body %}
  <div class="title">
    <h1>Recherche</h1>
    <input id="algolia" class="input" type="search" placeholder="Rechercher">
  </div>
  <div class="results">
    <div class="filter-container">
      <h4>Filtrer par :</h4>
      <div class="filter-list"></div>
    </div>
    <div class="result-container"></div>
  </div>
  <div class="pagination-container"></div>
{% endblock %}

{% block javascripts %}
  <script src="//cdn.jsdelivr.net/instantsearch.js/1/instantsearch.min.js"></script>
  <script src="{{ asset('js/algolia.js') }}"></script>
{% endblock %}
