body {
    background-image: url('../img/seigaiha.png');
    width: 80%;
    margin: auto;
    font-family: 'Montserrat';
}

.title {
    text-align: center;
    font-size: 24px;
}

input {
    width: 100%;
    height: 36px;
    padding: 10px;
}

.results {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
}

.filter-container {
    width: 20%;
    background-color: white;
    padding: 0 10px;
    margin-right: 5px;
}

.result-container {
    width: 80%;
    display: flex;
    flex-direction: column;
}

.result {
    background-color: white;
    display: flex;
    flex-direction: row;
    margin-bottom: 5px;
}

.image {
    width: 100px;
}

.names {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.last-name {
    text-transform: uppercase;
}
